<!doctype html>
<html lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ page_title }}{% if current_tags %} – {{ current_tags | join: ', ' }}{% endif %}{% if current_page != 1 %} – Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} – {{ shop.name }}{% endunless %}</title>
  {{ content_for_header }}
  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}">
  <script defer src="{{ 'theme.js' | asset_url }}"></script>
</head>
<body class="aadai">
  {% section 'header' %}
  <main id="MainContent" role="main">
    {{ content_for_layout }}
  </main>
  {% section 'footer' %}
</body>
</html>
